body {
font-family: 'Just Another Hand', cursive;
background-color: #242E6B;
width: 100%;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
}

#question {
  display: inline;
  color: #FFFFFF;
}
.container {
  text-align: center;
  margin: 50px auto;
}
#title
{
  color:#FC8C93;
  line-height: 50px;
}
h1,h2{
  font-weight: 380;
  font-size: 200px;
}
.btn {
  margin: 10px;
	background-color:#FFFFFF;
	border-radius:20px;
  border-width: 0;
	cursor:pointer;
	color:#242E6B;
  line-height: 70px;
	font-family:'Just Another Hand', cursive;
	font-size:70px;
  letter-spacing: 3px;
	padding:13px 32px 0 32px;
  text-align: center;
	text-decoration:none;
}

/* TODO: Styling by class: add Styling for button on hover */
.btn:hover
{
background-color: #4CAF50;
color: white;
}

#my-canvas
{

  border: 5px solid #008000;
}
.canvas
{
  cursor: pointer;
}